name: Flutter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      - name: Flutter analyze
        run: flutter analyze

      - name: Flutter test (unit + widget)
        run: flutter test

  firebase_app_distribution:
    needs: build_and_test
    runs-on: ubuntu-latest
    env:
      FIREBASE_APP_ID_ANDROID: ${{ secrets.FIREBASE_APP_ID_ANDROID }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Flutter pub get
        run: flutter pub get

      - name: Build APK (debug)
        run: flutter build apk --debug

      # Terintegrasi langsung dengan FAD
      - name: Upload to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        if: ${{ env.FIREBASE_APP_ID_ANDROID != '' && env.FIREBASE_TOKEN != '' }}
        with:
          appId: ${{ env.FIREBASE_APP_ID_ANDROID }}
          token: ${{ env.FIREBASE_TOKEN }}
          file: build/app/outputs/apk/debug/app-debug.apk
          releaseNotes: "Hello from GitHub Actions! :)"
